# Ignore build folder
build/

# This section covers which possible customizations might be useful sometime but are not yet implemented to a degree where it would be worth sharing. 
packages/bash/.bash_logout
packages/bash/.bash_profile
packages/waybar/power_menu.xml
# Not yet ready to run:
packages/hyprland/
packages/kitty/
packages/vim/

