# Ignore build folder
build/

# This section covers which possible customizations might be useful sometime but are not yet implemented to a degree where it would be worth sharing. 
packages/bash/.bash_logout
packages/bash/.bash_profile
packages/waybar/.config/waybar/power_menu.xml


# These parts are permanently excluded because of personal data/ repo structure and clarity maintenance. 
packages/vim/.vim/plugged
# Not yet ready to run:
packages/kitty/

